<div class="kui-flex-wrap">
  <style>.kui-software-key{height:0px}#__kai_router__{height:266px!important;}.kui-router-m-bottom{margin-bottom:0px!important;}
    pre {
      white-space: pre-wrap;
      word-wrap: break-word;
      margin:0px;
      padding:0px;
      font-size: 13px;
    }
  </style>
  <div class="kai-container" style="margin:2px;">
    <h5 style="margin-bottom:5px;text-align:center;">{{ data.title }}</h5>
    <div style="margin:0px 2px;">
      <pre>{{ data.text }}</pre>
    </div>
  </div>
</div>
